#### 1. write a python program to convert a string to lower case

In [2]:
s="Hello World!"
s.lower()

'hello world!'

#### 2. Write a python program to convert only odd indexed characters to lower case

In [26]:
s="PYTHON"
a=" "
for i in range(len(s)):
    if i%2==0:
        a=a+s[i].upper()
    else:
        a=a+s[i].lower()
a

' PyThOn'

#### 3. write a python program to convert only even indexed characters to lower case

In [27]:
s="PYTHON"
a=" "
for i in range(len(s)):
    if i%2==0:
        a=a+s[i].lower()
    else:
        a=a+s[i].upper()
a

' pYtHoN'

#### 4.write a python program to convert only odd indexed characters to upper case

In [23]:
s="PYTHON"
a=" "
for i in range(len(s)):
    if i%2==0:
        a=a+s[i].lower()
    else:
        a=a+s[i].upper()
a

' pYtHoN'

#### 5. write a python program to convert only even indexed characters to upper case

In [24]:
s="PYTHON"
a=" "
for i in range(len(s)):
    if i%2==0:
        a=a+s[i].upper()
    else:
        a=a+s[i].lower()
a

' PyThOn'

#### 6. Write a python program whee you have different t variable which contains your t variable which contains your name, gender, age, phone number, father’s name and mother’s name. And by using this variable create a variable named bio-data where you will use all these variables

In [34]:
Name='Bhavya'
Age='20'
Gender='F'
ph_no='8688736623'
Father='Ramakrishna'
Mother='Vishali'
Bio_data={Name,Age,Gender,ph_no,Father,Mother}
print('My name is {},My age is {},My gender is {},My phone number is {},My father name {},My mother name is {}'.format(Name,Age,Gender,ph_no,Father,Mother))

My name is Bhavya,My age is 20,My gender is F,My phone number is 8688736623,My father name Ramakrishna,My mother name is Vishali

#### 7.Write a python program to count how many times “@” occurred

In [45]:
s='S@ndhy@'
s=s.count('@')
s

2

#### 8.Write a python program to get only names from the string

In [55]:
s='name1.@gmail.com,name2.@gmail.com,name3.@gmail.com'
s=s.split('.@gmail.com')
s
s=' '.join(s)
s

'name1 ,name2 ,name3 '

#### 9.Write a program to remove vowels from the entire alphabets

In [60]:
s="abcdefghijklmnopqrstuvwxyz"
a=['a','e','i','o','u']
t=[]
for i in s:
    if i not in a:
        t.append(i)
t=''.join(t)
t

'bcdfghjklmnpqrstvwxyz'

#### 10.Find all occurrences of a substring in a given string by ignoring the case

In [67]:
str1= "Welcome to Innomatics. innomatics awesome, isn't it?"
str1=str1.capitalize()
str1
str1.count('innomatics')

2